title {
    text-align: center;
}

body {
    font-family: Lato, sans-serif ;
    font-weight: 200;
} 

#main-background {
    height: 600px;
    width: 100%;
    background-image: url('../images/main-background.webp');
    background-position: center;
    background-size: cover;
}

#food-menu {
    height: 600px;
    width: 100%;
    background-image: url('../images/food-menu.jpg');
    background-position: center;
    background-size: cover;
}

#membership {
    height: 600px;
    width: 100%;
    background-image: url('../images/group-of-people.jpg');
    background-position: center;
    background-size: cover;
}

#coffee-menu {
    height: 600px;
    width: 100%;
    background-image: url('../images/coffee.jpeg');
    background-position: center;
    background-size: cover;
}

/* h2 elements */

h2 {
    text-align: center;
    display: block;
    position: relative;
}

p {
    text-align: center;
    display: block;
    color: #fff;
    background-color: orange;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 40px;
}


footer > p {
    text-align: center;
    background-color: gray;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}